body {
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: black; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: silver;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: gray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: gray;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
article {
            float: left;
            padding: 20px;
            width:100%;
            background-color: black;
            height: 300px;
}

.footer
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: left;
}

  